/*
--- MODULE MANAGER PLUGIN
--- CMS STYLESHEET
--- By James Barnsley (james@jamesbarnsley.co.nz)
--- December, 2012
*/



/* ========================================================================= BUTTONIFIED CHECKBOXES ===== */
/* ====================================================================================================== */

.field.checkbox.buttonify {
	position: relative;
	padding-bottom: 30px;
	padding-left: 0;
}

.field.checkbox.buttonify input {
	display: none;
}

.field.checkbox.buttonify label {
	cursor: pointer;
	position: relative;
	width: auto;
	display: inline-block;
	padding: 7px 12px 7px 32px;
	height: 16px;
	top: 0;
	font-weight: bold;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #C0C0C2 #C0C0C2 #A6A6A9;
	margin-top: 2px !important;
	margin-right: 10px;
	
	background: #FFFFFF;

	background: -webkit-linear-gradient(top, #FFFFFF 0%, #D9D9D9 100%);
	background: -moz-linear-gradient(top, #FFFFFF 0%, #D9D9D9 100%);
	background: -o-linear-gradient(top, #FFFFFF 0%, #D9D9D9 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%, #D9D9D9 100%);
	background: linear-gradient(top, #FFFFFF 0%, #D9D9D9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#D9D9D9',GradientType=0 );
}

.field.checkbox.buttonify .description {
	display: inline-block;
}

.field.checkbox.buttonify label:before {
	position: absolute;
	width: 12px;
	height: 12px;
	top: 8px;
	left: 8px;
	border: 1px solid #AAAAAA;
	content: '';
	display: block;
}
	

.field.checkbox.buttonify label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 7px;
	height: 3px;
	background: transparent;
	top: 11px;
	left: 10px;
	border: 3px solid #000000;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.field.checkbox.buttonify label:hover {	
	-webkit-box-shadow: 0 0 2px #B3B3B3;
	-moz-box-shadow: 0 0 2px #B3B3B3;
	box-shadow: 0 0 2px #B3B3B3;

	background: -webkit-linear-gradient(top, #FFFFFF 0%, #E6E6E6 100%);
	background: -moz-linear-gradient(top, #FFFFFF 0%, #E6E6E6 100%);
	background: -o-linear-gradient(top, #FFFFFF 0%, #E6E6E6 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%, #E6E6E6 100%);
	background: linear-gradient(top, #FFFFFF 0%, #E6E6E6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E6E6E6',GradientType=0 );
}

.field.checkbox.buttonify input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	border-color: #49a338;
}



/* ======================================================================================== MANAGER ===== */
/* ====================================================================================================== */
	
.cms table.ss-gridfield-table tbody td button {
	margin-left: -5px;
	width: 10px;}





/* ==================================================================== MODULE SELECTION (SiteTree) ===== */
/* ====================================================================================================== */

#module-selection-table #module-selection-headings {
	font-size: 12px;
	background: linear-gradient(#B0BEC7, #98AAB6);
	background: -moz-linear-gradient(#B0BEC7, #98AAB6);
	color: #FFFFFF;
	border-radius: 5px 5px 0px 0px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(0, 0, 0, 0.1);}
	
#module-selection-table #module-selection-headings .col {
	padding-top: 15px;
	padding-bottom: 15px;}
	
#module-selection-table #module-selection-headings .col.title,
#module-selection-table #module-selection-headings .col.position {
	margin-right: -.4%;}
	
#module-selection-table #module-selection-footer {
	background: linear-gradient(#B0BEC7, #98AAB6);
	background: -moz-linear-gradient(#B0BEC7, #98AAB6);
	border-radius: 0 0 5px 5px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	height: 20px;}
	
#module-selection-table .field#Modules,
#module-selection-table .field#Modules ul {
	padding: 0;
	border: 0;
	margin: 0;}
	
	
/* --- COLUMNS --- */
	
#module-selection-table .col {
	padding: 10px 0 10px 1%;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	display: inline-block;}
	
#module-selection-table .title {
	margin-left: 4%;
	width: 50%;
	border-left: none;}

#module-selection-table .position {
	width: 16%;}

#module-selection-table .preview {
	width: 20%;}

#module-selection-table li {
	display: block;
	float: none;
	width: auto;
	position: relative;
	padding: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	background: #FFFFFF;
	border-left: 1px solid rgba(0, 0, 0, 0.15); 
	border-right: 1px solid rgba(0, 0, 0, 0.15); }
	
#module-selection-table li:hover {
	background: #FFFAD6;}
	
#module-selection-table li input {
	position: absolute;
	top: 8px;
	left: 1.5%;}
	
#module-selection-table li label {
	margin: 0;
	padding: 0;
	display: block;
	width: auto;
	color: #666666;}






/* =================================================================================== MODULE ITEMS ===== */
/* ====================================================================================================== */




